@font-face {
  font-family: 'Rounds Neue';
  font-weight: 900;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Rounds Neue';
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("DemiBold.otf") format("opentype");
}

@font-face {
  font-family: 'Rounds Neue';
  font-weight: 500;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("Regular.otf") format("opentype");
}